<nav class="navbar">
    <div class="nav-links">
      <ul>
        <li class="nav-item ">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Doctor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Service</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Review</a>
        </li>
      </ul>
    </div>
    <div class="logo">
      <img src="../assets/img/Health care.png" alt="Logo">
    </div>
    <div class="chat-button">
      <a href="#">Chat Now &nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"
          fill="none">
          <g clip-path="url(#clip0_1877_102978)">
            <path
              d="M9.33646 6.00012C9.33646 5.68193 9.21008 5.37676 8.98512 5.15172L3.83351 0.000122973L2.66351 1.17012L7.49472 6.00012L2.66351 10.8301L3.83351 12.0001L8.98511 6.84852C9.21008 6.62349 9.33646 6.31832 9.33646 6.00012Z"
              fill="blue" />
          </g>
          <defs>
            <clipPath id="clip0_1877_102978">
              <rect width="12" height="12" fill="white" transform="translate(0 12) rotate(-90)" />
            </clipPath>
          </defs>
        </svg> </a>
    </div>
  </nav>