<div class="container-5">
  <div class="innercont">
    <div class="main-1">
      <p>FREE CONSULTATION</p>
      <h1>For Any Emergency Contact</h1>
    </div>
    <div class="main-2">
      <div class="button-appointment">
        <a href="#">Book an appointment &nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"
            viewBox="0 0 12 12" fill="none">
            <g clip-path="url(#clip0_1877_102978)">
              <path
                d="M9.33646 6.00012C9.33646 5.68193 9.21008 5.37676 8.98512 5.15172L3.83351 0.000122973L2.66351 1.17012L7.49472 6.00012L2.66351 10.8301L3.83351 12.0001L8.98511 6.84852C9.21008 6.62349 9.33646 6.31832 9.33646 6.00012Z"
                fill="blue" />
            </g>
            <defs>
              <clipPath id="clip0_1877_102978">
                <rect width="12" height="12" fill="white" transform="translate(0 12) rotate(-90)" />
              </clipPath>
            </defs>
          </svg> </a>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="footer-content">
    <div class="main-foot">
      <div class="about-sec marg">
        <img src="../assets/img/Health care.png" alt="">
        <p>203 Fake St. Mountain View, San Francisco, California, USA</p>
        <div class="social">
          <a href="#"><img src="../assets/img/social/002-facebook.png" alt="" srcset=""></a>
          <a href="#"><img src="../assets/img/social/003-instagram.png" alt="" srcset=""></a>
          <a href="#"><img src="../assets/img/social/004-twitter.png" alt="" srcset=""></a>
          <a href="#"><img src="../assets/img/social/001-linkedin.png" alt="" srcset=""></a>
        </div>
      </div>
      <div class="departments marg">
        <h2>Departments</h2>
        <li><a href="#">Eye Care</a></li>
        <li><a href="#">Skin Care</a></li>
        <li><a href="#">Pathology</a></li>
        <li><a href="#">Medicine</a></li>
        <li><a href="#">Dental</a></li>
      </div>
      <div class="departments marg">
        <h2>Useful Links</h2>
        <li><a href="#">About</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Appointment</a></li>
      </div>
      <div class="footer-service marg">
        <h2>Services</h2>
        <li><a href="#">Emergency Services</a></li>
        <li><a href="#">Qualified Doctors</a></li>
        <div class="input-main">
          <input type="text" class="input" placeholder="Email address" name="" id="">
          <div class="button-tel">
            <a href="">
              <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none">
                <g clip-path="url(#clip0_1877_102573)">
                  <path
                    d="M9.47913 19.0796V24.1041C9.47913 24.4551 9.70446 24.766 10.0381 24.8765C10.1215 24.9036 10.2071 24.9166 10.2916 24.9166C10.5451 24.9166 10.79 24.7974 10.946 24.5851L13.885 20.5854L9.47913 19.0796Z"
                    fill="white" />
                  <path
                    d="M25.6588 0.150679C25.4096 -0.025904 25.0825 -0.0497373 24.8116 0.0921793L0.436632 12.8213C0.148465 12.9719 -0.0216185 13.2796 0.00221485 13.6035C0.0271315 13.9285 0.242715 14.2058 0.549299 14.3109L7.32555 16.6271L21.7566 4.28793L10.5896 17.7418L21.9462 21.6234C22.0307 21.6516 22.1196 21.6668 22.2084 21.6668C22.3557 21.6668 22.502 21.6267 22.6309 21.5487C22.8367 21.423 22.9765 21.2118 23.0122 20.9745L25.9914 0.932846C26.0358 0.629513 25.908 0.328346 25.6588 0.150679Z"
                    fill="white" />
                </g>
                <defs>
                  <clipPath id="clip0_1877_102573">
                    <rect width="26" height="26" fill="white"/>
                  </clipPath>
                </defs>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <h1> © HTS Creative 2021. All rights reserved</h1>
  </div>
</footer>